@font-face {
    font-family: 'TT Octosquares';
    src: url('../assets/fonts/ttoctos.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kanit Light';
    src: url('../assets/fonts/Kanit-Light.ttf') format('truetype');
}


:root {
    --elsodleges-szin: #30475E;
    --kiemeles-szin: #222831;
    --border-szin: #343c4b;
    --kiemels-szin-vilagos: #87a8c9;
    --hatter-szin-vilagos: #e6f3fe;
    --hatter-szin-sotet: #15171b;
}


body{
    background-image: url(../assets/img/images/bck-1.png);
    background-color: var(--hatter-szin-sotet);
    background-repeat: no-repeat;
    background-size: cover auto;
    overflow-x: hidden; /* horizontális scrollbar kitörlése */
}

a{
    color: rgb(79, 102, 146);
    text-decoration: none;
}

a:hover{
    color: rgb(49, 64, 91);
}

.card{
    background-color: transparent;
    border: none;
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Kanit Light';
    background-color: transparent;
    color: var(--hatter-szin-vilagos);
}

/* navbar dolgok */
.nav-logo{
    height: 2.5rem;
}

.navbar{
    background-color: var(--kiemeles-szin) !important;
    margin-top: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    transition: width 0.4s ease, margin 0.4s ease; /* animácio smooth transition hogy 100%ra animálójon majd ha a navbar-scrolled class rajta van */
}
.nav-link{
    color: var(--hatter-szin-vilagos);
    margin-left: 15px;
    margin-right: 15px;

    font-family: 'Kanit';
    letter-spacing: 2px;
    font-size: large;
}

.nav-link:hover{
    color: var(--kiemels-szin-vilagos) !important;
}

.navbar-scrolled{
    width: 100%;
    margin-top: 0;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border: none;
}

/* hero rész */
.hero-title{
    font-family: 'TT Octosquares';
    font-size: 2.5rem;
    color: var(--hatter-szin-vilagos);
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.hero-subtitle{
    font-family: 'Kanit';
    font-size: 1.5rem;
    color: var(--hatter-szin-vilagos);
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}


/* index oldal content */
.lower-title{
    font-family: 'Kanit';
    font-size: 2rem;
    color: var(--hatter-szin-vilagos);
    text-align: center;
}

.main-text{
    font-family: 'Kanit Light';
    font-weight: lighter;
    color: var(--hatter-szin-vilagos);
    text-align: center;
}
.cim{
    font-family: 'TT Octosquares';
    font-size: 25px;
    color: var(--hatter-szin-vilagos);
    margin-top: 15px;
}

.felsorolas{
    font-family: 'TT Octosquares';
    color: var(--hatter-szin-vilagos);
    text-indent: 5px;
    font-size: 20px;
}

.main2{
    font-family: 'TT Octosquares';
    color: var(--hatter-szin-vilagos);
    text-align: left;
}

.card-vehicle{
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: 'Kanit Light';
    background-color: transparent;
    color: var(--hatter-szin-vilagos);
    text-shadow: none;
    border: none;
    transition: text-shadow 0.3s ease;
    cursor: pointer;
}

.card-vehicle:hover{
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: 'Kanit Light';
    background-color: transparent;
    color: var(--hatter-szin-vilagos);
    text-shadow: 1px 1px 10px #87a8c9;
    border: none;
    cursor: pointer;
}

.car-types-section{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #111214;
}

/* footer dolgok */
.footer{
    width: 75%;
    margin: auto;
}

.footer-card1{
    text-align: left;
}

.footer-card2{
    text-align: left;
    padding-left: 6rem;
}

.footer-card3{
    text-align: left;
    padding-right: 0rem;
    padding-left: 0rem;
}

.footer-bck{
    background-color: #111214;
}

.tel-text{
    font-family: "TT Octosquares";
}

.email-text{
    font-family: "Kanit Light";
    text-indent: 2rem;
}

.br-footer{
    margin-top: 10px;
}

.btn-primary{
    background-color: var(--elsodleges-szin);
    border: none;
}

.btn-primary:hover{
    background-color: var(--kiemeles-szin);
    border: none;
}